<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="icon" type="image/x-icon" href="/images/Microsoft-Fluentui-Emoji-Mono-Volleyball.32.png">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="header-content">
                    <a href="index.html" class="logo-link">
                        <h1 class="logo">Airbase Volleyball</h1>
                    </a>
                    <nav class="navbar">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        {{ content | safe }}
    </body>
</html>