/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 20px 0; /* Top and bottom padding */
  color: white;
}

/* Center the header container and limit its width */
.header-container {
  width: 100%;
  max-width: 1200px; /* You can adjust this width as needed */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 0 20px; /* Adds space on left and right for breathing room */
}

/* Flex layout for logo and navbar */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-link {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  color: white;
}

/* Ensure navbar occupies only a portion of the width */
.navbar {
  flex: 0 0 50%; /* Takes up 50% of the header container's width */
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}



.skill-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.skill-table th,

.skill-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.skill-table thead {
  background-color: #333;
  color: #fff;
}

.skill-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.skill-table tbody tr:hover {
  background-color: #ddd;
}

.skill-table td[colspan="3"] {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

